.contactUs{ 
    width: 990px;
    margin-top: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'K2D', sans-serif;  
}

.contactUs__title{
    font-size: 23px;
    margin-top: 20px;
    font-variant-caps: small-caps;
}

.contactUs__details{
    margin-top: 50px;
    text-align: center;
}