.topNavbar {
  width: 100vw;
  height: 49px;
  background-color: black;
  color: white;
}

.topNavbar__wrapper{
  width: 50%;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.topNavbar__iconWrapper{
  display: flex;
  align-items: center;
  color: white;
	font: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

.topNavbar__iconText{
  margin-left: 10px;
}